html,
body,
#app {
  margin: 0px;
  padding: 0px;
  height: 100%;
  font-family: Roboto, -apple-system, BlinkMacSystemFont, "Segoe UI", "PingFang SC", "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  overflow: hidden;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
  list-style-image: none;
}

img {
  border: none;
  vertical-align: baseline;
}

a,
a:link,
a:visited,
a:hover {
  text-decoration: none;
}

textarea,
input {
  word-wrap: break-word;
  word-break: break-all;
}

th {
  font-weight: normal;
}

.markdown-body {
  li {
    list-style: unset;
    list-style-image: unset;
  }
}

.el-dialog__body {
  padding: var(--el-dialog-padding-primary) var(--el-dialog-padding-primary) !important;
}
