:root {
  --app-nav-bg-color: rgba(#fff, 0.75);
  --link-active-bg-color: #eee;
}

html.dark {
  --app-nav-bg-color: rgba(#3c3c3c, 0.75);
  --link-active-bg-color: #333;

  .markdown-body {
    color-scheme: dark;
  }
}
